#blog * {
    @apply text-black dark:text-white mx-auto;
}

#blog h1 {
    @apply text-3xl font-bold mb-10;
}

#blog h2 {
    @apply text-2xl font-bold mb-6;
}

#blog h3 {
    @apply text-xl font-bold mb-4;
}

#blog h4 {
    @apply text-lg font-bold mb-2;
}


#blog hr {
    @apply h-[2px] bg-black dark:bg-gray-200 w-full my-6 mx-auto;
}

#blog strong {
    @apply font-bold mb-3;
}

#blog p {
    @apply mb-5;
}

/* Reset any existing code styles */
#blog code {
    all: revert;
}

/* Style only standalone code blocks */
#blog pre code {
    @apply bg-gray-200 dark:bg-gray-800 rounded-xl p-2 select-auto selection:bg-slate-200 selection:text-slate-900 !important;
    display: block;
    overflow-x: auto;
}

/* Optional: Style for inline code */
#blog :not(pre)>code {
    @apply text-emerald-600 dark:text-emerald-400 bg-gray-200 dark:bg-gray-800 rounded-lg;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    /* background: transparent; */
}

/* Optional: Style for block code */
#blog pre {
    @apply bg-gray-200 dark:bg-gray-800 rounded-xl p-2 mx-0 md:mx-5 my-10;
    display: block;
}

#blog video {
    @apply rounded-md mx-auto my-10 dark:border dark:border-gray-700 aspect-[16/9];
    display: block;
    width:70%;
    height: auto;
}

#blog img {
    @apply bg-cover rounded-xl mx-auto my-10  ;
    /* @apply aspect-[16/9] !important; */
    width: 100%;
    height: auto;
}


#blog a {
    @apply underline hover:text-emerald-600 dark:hover:text-emerald-400 transition;
}